#contact
{
    display: grid;
    max-height: calc(100vh - 80px);
    height: 1080px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}
.subtitle
{
    background: var(--clr-primary);
    color: var(--clr-bg);
    padding: 0.2rem 1rem;
    width: fit-content;
}

.title
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: clamp(3rem, 10vw, 5rem);
}

.title h1
{
    font-size: clamp(3rem, 6vw, 7rem);
    font-weight: 600;
    margin-bottom: 5rem;
    line-height: 130%;
}

.title h3
{
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 500;
    margin-bottom: 1rem;
}

.title a,
.title p
{
    position: relative;
    width: fit-content;
    font-size: clamp(1rem, 3vw, 1.2rem);
    line-height: 220%;
    color: var(--clr-sub);
    text-decoration: none;
}

.title p:hover
{
    color: var(--clr-text);
}

.title a svg
{
    margin-left: .5rem;
}

.title a::after
{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--clr-text);
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.title a:hover::after
{
    width: 100%;
}

.title a:hover
{
    color: var(--clr-text);
}

.form
{
    width: 90%;
    margin: 0 auto;
    color: var(--clr-bg);
    background: var(--clr-contactBg);
    border-radius: 40px 10px 0 0;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 2rem;
}

.form h2
{
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: 700;
    margin-top: clamp(3rem, 10vw, 5rem);
    margin-bottom: clamp(1rem, 3vw, 2rem);
    line-height: 130%;
    width: 90%;
    margin: 5rem auto;
}

form
{
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    place-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1.5rem, 3vw, 5rem);
}

form ul li
{
    cursor: pointer;
    list-style: none;
    border: 1px solid var(--clr-sub);
    border-radius: 3px;
    width: 100px;
    font-size: clamp(1rem, 3vw, 1rem);
    color: var(--clr-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 5px;
}
form ul
{
    grid-column: span 2;
    display: flex;
    gap: clamp(1rem, 3vw, 2rem);
}
form ul li input
{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--clr-bg);
    font-size: clamp(1rem, 3vw, 1rem);
    display: flex;
    align-items: center;
}

form ul li input::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-bg);
    opacity: 1;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:var(--clr-bg),
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--clr-bg);
  }

  .activeBudget
  {
    border: var(--clr-text);
  }


@media screen and (max-width: 1330px)
{
    #contact
    {
        grid-template-columns: 1fr ;
        margin: 0 auto;
        overflow-x: hidden;
    }
    form
    {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
    .form
    {
        height: 100vh;
    }
    .form h2
    {
        width: 100%;
    }

}