@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Taviraj:ital,wght@0,400;1,400;1,600;1,700&display=swap');

:root
{
    --clr-bg: #000000;
    --clr-text: #ffffff;
    --clr-primary: #4F82EE;
    --clr-login: #0b0b0b;
    --clr-sub: #b5b5b5;
    --clr-NavBg: #0000005d;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: var(--clr-bg);
    width: 100vw;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-text);
    overflow-x: hidden;
    
}

#hero
{

    height: 1080px;
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: clamp(3rem, 10vw, 5rem);
}

.hero-text
{
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hero-text h1 
{
    width: 70%;
    font-size: clamp(3rem, 6vw, 7rem);
    font-weight: 500;
}

.underline
{
    position: relative;
}

.underline::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -80%;
    width: 100%;
    height: 100%;
    background-image: url(../img/Vector\ 23.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-text p
{
    font-size: clamp(1rem, 3vw, 1.3rem);
    width: 50%;
    color: var(--clr-sub);
    line-height: 150%;
}


.hero-buttons
{
    max-width: 1920px;

    width: 90%;
    margin: 3rem auto;
    display: flex;
    gap: clamp(.4rem, 3vw, 2rem);
}

.hero-btn
{
    border: 2px solid var(--clr-text);
    background: none;
    color: var(--clr-text);
    max-width: 350px;
    width: clamp(10rem, 20vw,18rem);
    font-size: clamp(1rem, 3vw, 1.1rem);
    height: clamp(40px, 5vw, 50px);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.line
{
    width: 30%;
    height: 2px;
    background: var(--clr-text);
}

.hero-btn:hover .line
{
    background: var(--clr-bg);
}
.hero-btn svg
{
    fill: var(--clr-text);
}
.hero-btn:hover svg
{
    fill: var(--clr-primary);
}
.hero-btn:hover
{
    cursor: pointer;
    color: var(--clr-bg);
}

.hero-btn::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background: var(--clr-text);
    z-index: -1;
    transition: height .3s;
}


.hero-btn:hover::before
{
    height: 100%;
}

#mockups
{
    position: sticky;
    top: 75px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.mockup-container
{
    max-width: 1920px;
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: start;
    position: relative;
}

.development
{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: end;
    font-size: clamp(5rem, 10vw, 8rem);
    font-weight: 600;
}

.sticky-container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid var(--clr-text);
    background: black;
    z-index: 2;
}

#testimonials
{
    position: relative;
    width: 90%;
    height: 200vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-bg);
    z-index: 5;
}

.testimonials-title
{
    font-size: clamp(3rem, 5vw, 8rem);
    line-height: 150%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.testimonials-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1330px)
{
    body
    {
        overflow-x: hidden;
    }
    nav
    {
        overflow: hidden;
    }

    .hero-text p
    {
        width: 100%;
    }

    .hero-buttons
    {
        top: 65%;
    }
    .line
    {
        display: none;
    }
}

@media screen and (max-width: 600px)
{
    body
    {
        overflow-x: hidden;
    }
}

