@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Taviraj:ital,wght@0,400;1,400;1,600;1,700&display=swap');

:root
{
    --clr-loader: #ffffff;
    --clr-bg: #ffffff;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}