@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Taviraj:ital,wght@0,400;1,400;1,600;1,700&display=swap');

:root
{
    --clr-loader: #ffffff;
    --clr-bg: #ffffff;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.loading-screen
{
    height: 100vh;
    /* max-width: 1920px; */
    margin: 0 auto;
    background: var(--clr-loader);
    position: fixed;
    z-index: 1000;
}

.loading-screen > .loader
{
    position: absolute;
    bottom: 2rem;
    font-size: clamp(4rem, 5vw, 6rem);
    font-weight: 400;
    font-style: italic;
    left: 95%;
    transform: translateX(-95%);
}

.loading-text
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}

.loading-screen h1
{
    font-size: clamp(1.5rem, 6vw, 8rem);
    font-weight: 500;
    width: 80%;
    margin: 0  auto;
    text-align: center;
}
.loading-screen p
{
    font-size: clamp(1rem, 3vw, 1.4rem);
    font-style: italic;
}

.loading-screen > .background-gradient
{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    min-width: 400px;
    height: 40vw;
    min-height: 400px;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 82, 255, 0.22) 0.04%, rgba(217, 217, 217, 0.00) 99.96%);
}


@media screen and (max-width: 600px)
{
    body
    {
        overflow-x: hidden;
    }
}
